// announcement bar styles

.announcements {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(8, 75, 109, 0.08);
}

.navBar {
    position: sticky;
    top: 0;
    // higher the number the more front it will be- base starts with 1
    z-index: 10;
    border-bottom: 1px solid rgba(8, 75, 109, 0.08);
    background-color: $solidWhite;

    .wrapper {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }

    .searchCart {
        display: flex;
        align-items: center;
    }

    .searchIcon,
    .bagIcon {
        margin-right: 15px;
    }
    
   a {
       display: flex;
   }

    .logo {
        margin-left: 60px;
    }

    .counter {
        

        p {
            width: 24px;
            height: 24px;
            background-color: $primary;
            color: $solidWhite;
            border-radius: 50%;
            text-align: center;
        }
    }

    input[type=checkbox] {
        opacity: 0;
        position: absolute;

        // ~ is the follow element in html
        &:checked ~ .slideOutNav{
            left: 0;
        }

        &:focus + label {
            border: 1px dotted $primary;
        }
      
    }

     label {
           cursor: pointer;
       }

    .slideOutNav {
     position: fixed;
     top: 0;
     left: -506px;
     background-color: $primary;
     color: $solidWhite;
     border-right: 1px solid $secondary;
     padding: 35px 50px;
     width: 100%;
     max-width: 506px;
     height: 100vh;
     display: flex;
     flex-direction: column;
     z-index: 20;
     transition: 0.75s;

        .buttonContainer {
            display: flex;
            justify-content: flex-end;

            button {
                color: $solidWhite;
                font-family: $bodyFont;
                font-size: 1.2rem;
                background-color: transparent;
                padding: 10px 0 10px 20px;
            }

        }

        hr {
            width: 24px;
            height: 2px;
            margin: 36px 0;
            background-color: $solidWhite;
            border: none;
        }

        .mainMenu {
            font-family: "Young Serif";
            font-size: 1.6rem;
            line-height: 2.5rem;

            a:hover,
            a:focus {
                color: rgba(255, 255, 255, 0.5);
            }
        }

        .legal {
            font-family: "Jakarta Sans";
            font-size: 0.8rem;
            font-weight: bold;
            line-height: 1.5rem;

            a {
                color: rgba(255, 255, 255, 0.5);

                &:focus,
                &:hover {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
    }
}

